# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.venv/
.conda/

# Test artifacts
.pytest_cache/

# Editor and IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build output
build/
dist/
.eggs/
*.egg-info/